Package: com.chilaxan.ezswitch
Name: EzSwitch
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: chilaxan
Author: chilaxan
Section: Tweaks
